<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
               matchAll="true"/>
    <serverUrl url="http://cache1.arcgisonline.cn"
                     matchAll="true"/>
    <serverUrl url="http://map.geoq.cn"
                     matchAll="true"/>
    <serverUrl url="http://map.geoq.cn/arcgis/rest/info?f=pjson"
                     matchAll="true"/>
    <serverUrl url="https://s2.geohey.com"
                 matchAll="true"/>
    <serverUrl url="https://s1.geohey.com"
                 matchAll="true"/>
    <serverUrl url="http://google.cn"
                 matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
